<div class="bg-white border">
    <div class="row p-3">
        <!-- user avatar -->
        <div class="col-md-1">
            <img style="object-fit: cover;" class="rounded-circle" width="60" height="60" src="" alt="">
        </div>
        <!-- username -->
        <div class="col-md-1 ms-3 mt-3">
            <b>marshall.sg</b>
        </div>
    </div>
    <!-- post image -->
    <img class="w-100 h-90" src="" alt="">
    <div class="ps-3 pe-3 pb-3 mt-3">
        <!-- like and comment icons -->
        <div class="mb-2">
            <i style="font-size: 30px;" class="material-icons">&#xe87e;</i>
            <i style="font-size: 30px;" class="material-icons">&#xe0cb;</i>
        </div>
        <!-- likes number -->
        <div class="mb-2">
            liked by<b> marshall.sg </b>and<b> 23 others</b> 
        </div>
        <!-- caption -->
        <div class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet praesentium corrupti iusto laborum molestias debitis labore consequatur at natus nobis porro odio consequuntur odit accusantium, rem libero sapiente necessitatibus distinctio
        </div>
    </div>
</div>