<!-- templates/cats/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>catcollector</title>
  </head>
  <body>
    <h1>the catcollector's cats</h1>
    <hr />
    <div data-gb-custom-block data-tag="for">
      <p>Name: {{ cat.name }}</p>
    <div data-gb-custom-block data-tag="if" data-0='0' data-1='0' data-2='0' data-3='0' data-4='0' data-5='0'>  
      <p>Age: {{ cat.age }}</p>
    <div data-gb-custom-block data-tag="else">
      <p>Age: Kitten</p>
    </div>

      <hr />
    
  
  </div>

    <footer>All Rights Reserved, catcollector 2018</footer>
  </body>
</html>